{{- $attrs := .Attributes -}}
{{- $lang := .Type | default "" -}}
{{- if eq (lower $lang) "callout" -}}
  {{- $scratch := newScratch -}}
  {{- $scratch.Set "type" "info" -}}
  {{- $scratch.Set "title" "" -}}
  {{- with index $attrs "type" -}}
    {{- $scratch.Set "type" (lower (printf "%s" .)) -}}
  {{- end -}}
  {{- if eq ($scratch.Get "type") "info" -}}
    {{- with index $attrs "class" -}}
      {{- $classes := split (printf "%s" .) " " -}}
      {{- if gt (len $classes) 0 -}}
        {{- $scratch.Set "type" (lower (index $classes 0)) -}}
      {{- end -}}
    {{- end -}}
  {{- end -}}
  {{- with index $attrs "title" -}}
    {{- $scratch.Set "title" (printf "%s" .) -}}
  {{- end -}}
  {{- $body := replace (.Inner | default "") "\r\n" "\n" -}}
  {{- $type := $scratch.Get "type" -}}
  {{- $title := $scratch.Get "title" -}}
  {{- $titleAttr := "" -}}
  {{- if ne $title "" -}}
    {{- $titleAttr = printf " title=%q" $title -}}
  {{- end -}}
  {{- $shortcode := printf "{{< callout type=%q%s >}}%s{{< /callout >}}" $type $titleAttr $body -}}
  {{- $shortcode | markdownify -}}
{{- else -}}
  <pre tabindex="0"><code{{ with $lang }} class="language-{{ . }}"{{ end }}>{{- .Inner -}}</code></pre>
{{- end -}}
